<style>
h3 {
    text-transform: uppercase;
    font-size: 16px!important;
    text-align: center;
    line-height: 1!important;
    margin: 10px 0px;
    color: #2ab7a9;
}
</style>
<div class="step3" style="display: block;">
     <h3>Вы успешно записаны</h3>
     <div class="succes">
                  <h2>Заказ №<span id="order">4565625</span></h2>
                  <div class="succes-details">
                  
                  <div class="info_block"> 
                         <div class="row">
                             <div class="col-md-6">
                                  <label class="info_title">Адрес:</label>
                             </div>
                             <div class="col-md-6">
                               <div class="address item_result">Филиал №10</div>
                             </div>
                        </div>  
                        <div class="row">
                             <div class="col-md-6">
                                  <label class="info_title">Специальность:</label>
                             </div>
                             <div class="col-md-6">
                               <div id="specialityText" class="spec item_result">врач-хирург</div>
                             </div>
                        </div> 
                        <div class="row">
                             <div class="col-md-6">
                                  <label class="info_title">Дата и время:</label>
                             </div>
                             <div class="col-md-6">
                               <div class="date-time item_result">2018-05-10 10:00</div>
                             </div>
                        </div>  
                      </div></div>
                </div>
</div>